# file: .gitignore
8. NetworkBasic/NetworkBasic/Constant/Constant.swift
9. TMDBProject/TMDBProject/Resource
10. SeSACWeek6/SeSACWeek6/APIKey.swift
12. SeSACWeek7Diary/SeSACWeek7Diary/APIManager/Constant/APIKey.swift
13. SeSACWeek9/SeSACWeek9/APIKey.swift