<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812690829289-eer4cldkpkv5dr9e1fdvunj7ohimkouq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812690829289-eer4cldkpkv5dr9e1fdvunj7ohimkouq</string>
	<key>API_KEY</key>
	<string>AIzaSyACDGgf6DIXB226NPfA8hz8_zFCG1bk7tk</string>
	<key>GCM_SENDER_ID</key>
	<string>812690829289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lia.SeSACFirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesac-c62b8</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-c62b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812690829289:ios:4392505a206b6c11e0a578</string>
</dict>
</plist>